<add-book-card #addBookCard></add-book-card>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-4">
  <li [ngbNavItem]="0">
    <a ngbNavLink>All</a>
    <ng-template ngbNavContent>
      <book-list>
        <book-list-item *ngFor="let book of (books | async)"
                        [id]="book.id"
                        [title]="book.title"
                        [cover]="book.cover"
                        [reviews]="book.reviewsNumber"
                        [rating]="book.rating"
                        (edit)="addBookCard.editExistingBook($event)">
        </book-list-item>
      </book-list>
    </ng-template>
  </li>
  <li [ngbNavItem]="1">
    <a ngbNavLink>Recommended</a>
    <ng-template ngbNavContent>
      <book-list>
        <book-list-item *ngFor="let book of (recommendedBooks | async)"
                        [id]="book.id"
                        [title]="book.title"
                        [cover]="book.cover"
                        [reviews]="book.reviewsNumber"
                        [rating]="book.rating"
                        (edit)="addBookCard.editExistingBook($event)">
        </book-list-item>
      </book-list>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mb-4"></div>
