<add-book-card #addBookCard (save)="reloadBooks()"></add-book-card>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-4">
  <li [ngbNavItem]="0">
    <a ngbNavLink>All</a>
    <ng-template ngbNavContent>

      <select class="form-select mt-4" style="width: 250px" aria-label="Order by"
              [(ngModel)]="orderBy" (change)="reloadBooks()">
        <option value="0">Title</option>
        <option value="1">Author</option>
      </select>

      <book-list>
        <book-list-item *ngFor="let book of (books | async)"
                        [id]="book.id"
                        [title]="book.title"
                        [cover]="book.cover"
                        [reviews]="book.reviewsNumber"
                        [rating]="book.rating"
                        (edit)="addBookCard.editExistingBook($event)"
                        (view)="openModal($event)">
        </book-list-item>
      </book-list>

    </ng-template>
  </li>
  <li [ngbNavItem]="1">
    <a ngbNavLink>Recommended</a>
    <ng-template ngbNavContent>

      <form class="mt-4" style="display: inline-flex">
        <input type="text" class="form-control" style="width: 250px"
               name="genre" placeholder="Genre" [(ngModel)]="genreToSearch"/>
        <button type="submit" class="btn btn-primary ms-3" (click)="reloadBooks()">Search</button>
      </form>

      <book-list>
        <book-list-item *ngFor="let book of (recommendedBooks | async)"
                        [id]="book.id"
                        [title]="book.title"
                        [cover]="book.cover"
                        [reviews]="book.reviewsNumber"
                        [rating]="book.rating"
                        (edit)="addBookCard.editExistingBook($event)"
                        (view)="openModal($event)">
        </book-list-item>
      </book-list>

    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mb-4"></div>
