<div class="card my-4" style="min-width: 480px; height: 120px">
  <div class="row">
    <div class="col-auto" style="width: 200px">
      <img [src]="cover" class="img-fluid" alt="">
    </div>
    <div class="col">
      <div class="card-block pt-3">
        <h4 class="card-title">{{ title }}</h4>
        <p class="card-text mt-4">
          <span class="me-4">Reviews: {{ reviews }}</span>
          <span class="me-4">Rating: {{ rating }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
